In [1]:
import pandas as pd
import re

In [2]:
df1 = pd.read_csv(r'Coursera_courses.csv')
df2 = pd.read_csv(r'Coursera_reviews.csv')
df3 = pd.read_csv(r'edx_courses.csv')
df4 = pd.read_csv(r'udemy_courses.csv')

In [3]:
df1.head(3)

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

In [5]:
duplicados = df1.duplicated()
cantidad_duplicados = duplicados.sum()
print(cantidad_duplicados)

0

In [6]:
df2.head()

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training
4,Excellent course and the training provided was...,By Sean G,"Jun 18, 2020",4,google-cbrs-cpi-training

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [8]:
duplicados = df2.duplicated()
cantidad_duplicados = duplicados.sum()
print(cantidad_duplicados)

934764

In [9]:
df2 = df2.drop_duplicates()

In [10]:
df2 = df2.drop(['reviewers'], axis=1)

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519947 entries, 0 to 1454644
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   reviews       519891 non-null  object
 1   date_reviews  519947 non-null  object
 2   rating        519947 non-null  int64
 3   course_id     519947 non-null  object
dtypes: int64(1), object(3)
memory usage: 19.8+ MB

In [12]:
df3.tail(3)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
972,Computational Neuroscience: Neuronal Dynamics ...,This course explains the mathematical and comp...,"11,246",Self-paced on your time,École polytechnique fédérale de Lausanne,Wulfram Gerstner,Advanced,Biology & Life Sciences,English,English,4–6 hours per week,6 Weeks,FREE-Add a Verified Certificate for $139 USD,What happens in your brain when you make a dec...,Textbook: Neuronal Dynamics - from single neur...,https://www.edx.org/course/computational-neuro...
973,Cities and the Challenge of Sustainable Develo...,What is a sustainable city? Learn the basics h...,"8,775",Self-paced on your time,SDG Academy,Jeffrey D. Sachs,Introductory,Environmental Studies,English,English,1–2 hours per week,1 Weeks,FREE-Add a Verified Certificate for $25 USD,"According to the United Nations, urbanization ...",Module 1: Introduction to the SDGsProfessor Je...,https://www.edx.org/course/cities-and-the-chal...
974,MathTrackX: Special Functions,"Understand trigonometric, exponential and loga...",NaN,Self-paced on your time,University of Adelaide,Dr David Butler,Introductory,Math,English,English,3–6 hours per week,4 Weeks,FREE-Add a Verified Certificate for $79 USD,This course is part two of the MathTrackX XSer...,NaN,https://www.edx.org/course/mathtrackx-special-...

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB

In [14]:
duplicados = df3.duplicated()
cantidad_duplicados = duplicados.sum()
print(cantidad_duplicados)

1

In [15]:
df3 = df3.drop_duplicates()

In [16]:
def obtener_promedio_horas(celda):
    horas = re.findall(r'\d+', celda)
    horas_enteros = [int(hora) for hora in horas]
    promedio = sum(horas_enteros) / len(horas_enteros)
    promedio_entero = int(round(promedio))
    return promedio_entero

In [17]:
df3['course_effort_promedio'] = df3['course_effort'].apply(obtener_promedio_horas)

In [18]:
def obtener_numero_semanas(celda):
    numero_semanas = re.findall(r'\d+', celda)
    if len(numero_semanas) > 0:
        return int(numero_semanas[0])
    else:
        return None

In [19]:
df3['course_length_semana'] = df3['course_length'].apply(obtener_numero_semanas)

In [20]:
df3['course_length_semana'] = df3['course_length_semana'].astype(int)
df3['course_effort_promedio'] = df3['course_effort_promedio'].astype(int)

In [21]:
df3 = df3.drop(['summary','course_type','instructors', 'course_description','course_syllabus', 'course_effort','course_length'], axis=1)

In [22]:
df3.head()

,title,n_enrolled,institution,Level,subject,language,subtitles,price,course_url,course_effort_promedio,course_length_semana
0,How to Learn Online,"124,980",edX,Introductory,Education & Teacher Training,English,English,FREE-Add a Verified Certificate for $49 USD,https://www.edx.org/course/how-to-learn-online,2,2
1,Programming for Everybody (Getting Started wit...,"293,864",The University of Michigan,Introductory,Computer Science,English,English,FREE-Add a Verified Certificate for $49 USD,https://www.edx.org/course/programming-for-eve...,3,7
2,CS50's Introduction to Computer Science,"2,442,271",Harvard University,Introductory,Computer Science,English,English,FREE-Add a Verified Certificate for $90 USD,https://www.edx.org/course/cs50s-introduction-...,12,12
3,The Analytics Edge,"129,555",Massachusetts Institute of Technology,Intermediate,Data Analysis & Statistics,English,English,FREE-Add a Verified Certificate for $199 USD,https://www.edx.org/course/the-analytics-edge,12,13
4,Marketing Analytics: Marketing Measurement Str...,"81,140","University of California, Berkeley",Introductory,Computer Science,English,English,FREE-Add a Verified Certificate for $249 USD,https://www.edx.org/course/marketing-analytics...,6,4

In [23]:
df3['price'] = df3['price'].str.extract(r'\$(\d+) USD')

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 974 entries, 0 to 974
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   974 non-null    object
 1   n_enrolled              854 non-null    object
 2   institution             974 non-null    object
 3   Level                   974 non-null    object
 4   subject                 974 non-null    object
 5   language                974 non-null    object
 6   subtitles               971 non-null    object
 7   price                   966 non-null    object
 8   course_url              974 non-null    object
 9   course_effort_promedio  974 non-null    int32
 10  course_length_semana    974 non-null    int32
dtypes: int32(2), object(9)
memory usage: 83.7+ KB

In [25]:
df3['n_enrolled'] = df3['n_enrolled'].str.replace(',', '')

In [26]:
df3['n_enrolled'] = df3['n_enrolled'].fillna(0)
df3['price'] = df3['price'].fillna(0)

In [27]:
df3['n_enrolled'] = df3['n_enrolled'].astype(int)
df3['price'] = df3['price'].astype(int)

In [28]:
df3.head(2)

,title,n_enrolled,institution,Level,subject,language,subtitles,price,course_url,course_effort_promedio,course_length_semana
0,How to Learn Online,124980,edX,Introductory,Education & Teacher Training,English,English,49,https://www.edx.org/course/how-to-learn-online,2,2
1,Programming for Everybody (Getting Started wit...,293864,The University of Michigan,Introductory,Computer Science,English,English,49,https://www.edx.org/course/programming-for-eve...,3,7

In [29]:
df4.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [30]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [31]:
duplicados = df4.duplicated()
cantidad_duplicados = duplicados.sum()
print(cantidad_duplicados)

6

In [32]:
df4 = df4.drop_duplicates()

In [33]:
df4['published_date'] = df4['published_timestamp'].str.split('T').str[0]

In [34]:
df4['published_date'] = pd.to_datetime(df4['published_date'], errors='coerce')

In [35]:
df4.drop(['course_id','published_timestamp'], axis=1, inplace=True)

In [36]:
df4.head(2)

,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,subject,published_date
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,Business Finance,2017-01-18
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,Business Finance,2017-03-09

In [38]:
df1.to_csv('Coursera_courses2.csv', index=False)
df2.to_csv('Coursera_reviews2.csv', index=False)
df3.to_csv('edx_courses2.csv', index=False)
df4.to_csv('udemy_courses.csv', index=False)